<div class="row">
  <div class="large-6 medium-6 columns">
    <H1>User List</H1>
    <ul class="users">
      <li *ngFor="let user of users">
        <span class="badge">{{user.id}}</span>
        <span>{{user.name}}</span>
        <span>{{user.age}}</span>
        <span>{{user.obTitle}}</span>
        <button class="delete">x</button>
      </li>
    </ul>
    <ul class="pagination text-center" role="navigation">
      <li *ngFor="let item of pagination" [class.current]="currentPage==item"><a (click)="nextPage(item);">{{item}}</a></li>
    </ul>
  </div>

  <div class="large-6 medium-6 columns">
    <H1>Search</H1>
    <input [(ngModel)]="pattern" placeholder="search ..."/>
    <button class="button" 
        (click)="search(); $event.stopPropagation()">OK</button>
  </div>

</div>