<base href="/"> 
<div class="row">
	<div class="large-12 medium-12 columns">
		<nav class="top-bar topbar-responsive">
		  <div class="top-bar-title">
		    <a class="topbar-responsive-logo" href="#"><strong>Hello {{message}}!</strong></a>
		  </div>
		  <div id="topbar-responsive" class="topbar-responsive-links">
		    <div class="top-bar-right">
		      <ul class="menu simple vertical medium-horizontal">
		        <li><a routerLink="/">General</a></li>
		        <li><a routerLink="/user">User</a></li>
		        <li><a routerLink="/article">Article</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="large-12 medium-12 columns">
		<router-outlet></router-outlet>
	</div>
</div>